.comment-item {
  margin: 16px 0 0 16px;
}

.comment-content {
  display: flex;
}

.comment-icon {
  width: 48px;
  margin-right: 16px;
}

.comment-icon img {
  border-radius: 50%;
}

.comment {
  flex: 1;
}

.comment .header {
  font-family: "Montserrat, sans-serif";
}

.comment-user {
  font-size: 1.1rem;
  font-weight: bold;
}

.comment time {
  margin-left: 10px;
  color: gray;
  font-size: 0.9rem;
}

.comment .context-buttons {
  font-family: "Montserrat, sans-serif";
}

.comment-button {
  color: gray;
  font-size: 0.9rem;
  margin-right: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: none;
  padding: 0;
  background: none;
}

.comment-button:hover {
  color: lightsalmon;
}

.comment-button svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.replies {
  padding-left: 10px;
}
