.comment-item {
  margin: 16px;
}

.comment-content {
  display: flex;
}

.comment-icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.comment-icon img {
  border-radius: 50%;
}

.comment {
  flex: 1;
}

.comment-user {
  font-size: 1.1rem;
  font-weight: bold;
}

.comment time {
  margin-left: 10px;
  color: gray;
  font-size: 0.9rem;
}

.replies {
  padding-left: 10px;
}
