.comment-item {
  margin: 16px 0 16px 16px;
}

.comment-content {
  display: flex;
}

.comment-icon {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.comment-icon .removed-icon {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: silver;
}

.comment-icon img {
  border-radius: 50%;
}

.comment {
  flex: 1;
}

.comment.removed {
  color: gray;
}

.comment-user {
  font-size: 1.1rem;
  font-weight: bold;
}

.comment time {
  margin-left: 10px;
  color: gray;
  font-size: 0.9rem;
}

.comment.removed .comment-text {
  text-decoration: line-through;
}

.replies {
  padding-left: 10px;
}
